/* body {
    background: rgb(0,0,7) url("https://user-images.githubusercontent.com/100052562/185770969-2d5dc65d-63ba-4bcc-8273-30c206c372b0.png") no-repeat fixed center;
  } */



  /* Loader */
  .loader {
    border: 8px solid #00000000; /* Light grey */
    border-top: 8px solid #FFF; /* Blue */
    border-left: 8px solid #FFF; /* Blue */
    border-right: 8px solid #FFF; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  /* Other */
  .center {
    margin:-3.8%;
    position:absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .page-header {
    color: white;
    font-family: 'Roboto', sans-serif;
  }


  .animate-top {
    position: relative;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 1s;
    animation-name: animatetop;
    animation-duration: 1s
  }
